<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form method="post" action="#">
    <label>
        <input
                type="text"
                name="bond_number"
                placeholder="Bond Number"
        />
    </label>
    <label>
        <select name="party" class="form-select">
            {% for x in parties %}
                <option value="{{ x[0] }}">
                    {{ x[0] }}
                </option>
            {% endfor %}
        </select>
    </label>
    <label>
        <select name="company" class="form-select">
            {% for x in names %}
                <option value="{{ x[0] }}">
                    {{ x[0] }}
                </option>
            {% endfor %}
        </select>
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>